<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <body>
    <footer class="bg-blue-100 p-4">
      <div>Webshop &copy; 2024</div>

      <ul class="mt-4 ml-2 space-y-2">
        <li>
          <a class="underline cursor-link" href="/about">About Us</a>
        </li>
        <li>
          <a class="underline cursor-link" href="/terms"
            >Terms and Conditions</a
          >
        </li>
        <li>
          <a class="underline cursor-link" href="/privacy-policy"
            >Privacy Policy</a
          >
        </li>
      </ul>
    </footer>
  </body>
</html>
