<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />
  </head>
  <body>
    <nav th:replace="fragments/nav.html :: nav"></nav>

    <main class="p-4 mx-auto max-w-6xl w-full min-h-[calc(100vh-56px)]">
      <h1 class="text-3xl font-bold pb-8 mt-8">Cart</h1>

      <!-- Display only if there are items -->
      <table
        th:if="${cartItems.size() > 0}"
        class="min-w-full bg-white border border-gray-200"
      >
        <thead>
          <tr>
            <th class="py-2 px-4 border-b text-left">Product</th>
            <th class="py-2 px-4 border-b">Price</th>
            <th class="py-2 px-4 border-b">Quantity</th>
            <th class="py-2 px-4 border-b">Total</th>
            <th class="py-2 px-4 border-b">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" th:each="cartItem : ${cartItems}">
            <td class="py-2 px-4 border-b text-left">
              <a
                class="underline cursor-link"
                th:href="@{/product/{productId}(productId=${cartItem.product.productId})}"
                th:text="${cartItem.product.name}"
              ></a>
            </td>
            <td class="py-2 px-4 border-b">
              $<span
                th:id="'price-' + ${cartItem.product.productId}"
                th:text="${cartItem.product.price}"
              ></span>
            </td>
            <td class="py-2 px-4 border-b">
              <!-- Dropdown from 1 to 10 -->
              <form
                th:action="@{/cart/update/{productId}/VALUE(productId=${cartItem.product.productId})}"
                method="post"
                th:object="${cartItem}"
              >
                <select
                  name="quantity"
                  class="w-16 border border-gray-200 rounded p-2 h-12"
                  th:value="*{quantity}"
                >
                  <option
                    th:each="i : ${#numbers.sequence(1, 10)}"
                    th:value="${i}"
                    th:text="${i}"
                    th:selected="${i == cartItem.quantity}"
                  ></option>
                </select>
              </form>
            </td>
            <td class="py-2 px-4 border-b">
              $<span
                th:id="'total-' + ${cartItem.product.productId}"
                th:text="|${cartItem.product.price * cartItem.quantity}|"
              ></span>
            </td>
            <td class="py-2 px-4 border-b flex gap-2 justify-center">
              <form
                th:action="@{/cart/increment/{productId}(productId=${cartItem.product.productId})}"
                method="post"
                th:object="${cartItem}"
                th:if="${cartItem.quantity < 10}"
              >
                <button class="rounded bg-blue-200 w-8 h-12">+</button>
              </form>

              <form
                th:action="@{/cart/decrement/{productId}(productId=${cartItem.product.productId})}"
                method="post"
                th:object="${cartItem}"
                th:if="${cartItem.quantity > 1}"
              >
                <button class="rounded bg-blue-200 w-8 h-12">-</button>
              </form>

              <form
                th:action="@{/cart/remove/{productId}(productId=${cartItem.product.productId})}"
                method="post"
                th:object="${cartItem}"
              >
                <button class="rounded bg-red-500 w-8 h-12">
                  <i class="fas fa-trash text-white"></i>
                </button>
              </form>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3" class="py-2 px-4 border-b font-bold">Total</td>

            <td class="py-2 px-4 border-b text-center">
              $<span th:text="${total}"></span>
            </td>

            <td class="py-2 px-4 border-b text-center">
              <form th:action="@{/cart/remove-all}" method="post">
                <button class="rounded bg-red-500 w-8 h-12">
                  <i class="fas fa-trash text-white"></i>
                </button>
              </form>
            </td>
          </tr>
        </tfoot>
      </table>

      <!-- Display if there are cart items -->
      <div th:if="${cartItems.size() > 0}" class="flex justify-end">
        <form th:action="@{/order}" method="post">
          <button class="rounded bg-green-500 text-white px-4 py-2 mt-4">
            Checkout
          </button>
        </form>
      </div>

      <!-- Display only if there are no items -->
      <div th:unless="${cartItems.size() > 0}" class="text-center space-y-4">
        <p class="text-xl">No items in the cart</p>
        <p>
          <a href="/" class="underline cursor-link">Continue Shopping</a>
        </p>
      </div>
    </main>

    <footer th:replace="fragments/footer.html :: footer"></footer>
  </body>

  <script>
    // Auto submit form when quantity changes
    document.querySelectorAll("select").forEach((select) => {
      select.addEventListener("change", (e) => {
        // Append new value to the form action
        const newValue = e.target.value;

        const form = e.target.parentElement;
        const action = form.getAttribute("action");
        const newAction = action.replace("VALUE", newValue);
        form.setAttribute("action", newAction);

        form.submit();
      });
    });
  </script>
</html>
