<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />
  </head>
  <body>
    <nav th:replace="fragments/nav.html :: nav"></nav>

    <main class="p-4 mx-auto max-w-6xl w-full min-h-[calc(100vh-56px)]">
      <h1 class="text-3xl font-bold pb-8 mt-8">Products</h1>
      <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mb-8">
        <div
          class="flex flex-col gap-2 rounded-xl bg-blue-100 overflow-hidden"
          th:each="product : ${products}"
        >
          <img
            th:src="@{https://picsum.photos/200/100?id=__${product.productId}__}"
            alt="product-${product.name} image"
          />
          <a
            class="text-xl font-bold px-4 text-center underline cursor-link"
            th:href="@{/product/{id}(id=${product.productId})}"
            th:text="${product.name}"
          ></a>
          <p class="text-center pb-4">
            $<th:block th:text="${product.price}"></th:block>
          </p>
        </div>
      </div>
    </main>

    <footer th:replace="fragments/footer.html :: footer"></footer>
  </body>
</html>
