<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Privacy Policy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />
  </head>
  <body>
    <nav th:replace="fragments/nav.html :: nav"></nav>

    <main class="p-4 mx-auto max-w-6xl w-full min-h-[calc(100vh-56px)]">
      <h1 class="text-3xl font-bold mt-8">Privacy Policy</h1>

      <!-- Some lorem ipsum -->
      <div class="flex flex-col gap-4 mt-8">
        <h2 class="text-2xl font-bold">
          Collection and Use of Personal Information
        </h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
          convallis, magna sit amet ultrices consectetur, sem dui facilisis
          eros, at hendrerit urna est non nulla. Aliquam eleifend eget nibh quis
          eleifend. In hac habitasse platea dictumst. Integer dignissim nunc sit
          amet magna sagittis, elementum aliquet justo ultricies. Ut nec maximus
          tellus, id sagittis nisi. Praesent non nisl massa. Nam aliquet purus
          in felis ultricies, at consequat nisi luctus.Lorem ipsum dolor sit
          amet, consectetur adipiscing elit. Sed convallis, magna sit amet
          ultrices consectetur, sem dui facilisis eros, at hendrerit urna est
          non nulla. Aliquam eleifend eget nibh quis eleifend. In hac habitasse
          platea dictumst. Integer dignissim nunc sit amet magna sagittis,
          elementum aliquet justo ultricies. Ut nec maximus tellus, id sagittis
          nisi. Praesent non nisl massa. Nam aliquet purus in felis ultricies,
          at consequat nisi luctus.
        </p>

        <p>
          Vivamus vestibulum molestie fringilla. Sed suscipit sollicitudin
          tortor, eu volutpat nunc commodo iaculis. Pellentesque habitant morbi
          tristique senectus et netus et malesuada fames ac turpis egestas. Sed
          hendrerit mollis orci sed lacinia. Cras facilisis venenatis sem a
          egestas. Duis facilisis interdum eros eget commodo. In fermentum ex
          tincidunt sapien congue consectetur. Aenean vehicula interdum lorem,
          quis suscipit lacus rhoncus id. Aenean faucibus nunc velit, ut
          lobortis lorem fermentum et. Donec sed purus lacinia, commodo lorem
          sit amet, auctor erat. Ut tristique, nisi vitae feugiat malesuada,
          diam urna facilisis nulla, ac hendrerit nisi dolor non quam. Mauris
          sit amet magna eu arcu porttitor mattis. Sed sit amet congue mauris.
          Mauris viverra nisi eget mi malesuada, ac tempor risus placerat. Morbi
          viverra sapien nec tellus lobortis, vitae ullamcorper tellus dapibus.
          Pellentesque blandit ligula non lorem sagittis, in gravida diam
          bibendum.
        </p>

        <p>
          Donec et eros volutpat, convallis enim sit amet, porta nibh. Aenean
          vestibulum ligula sed lorem convallis, eget venenatis ex tincidunt.
          Proin tempor scelerisque varius. Quisque eleifend libero varius dui
          ornare hendrerit at ullamcorper purus. Praesent sem velit, maximus ut
          placerat eget, rhoncus at purus. Curabitur tempor massa venenatis
          justo mollis, sed sagittis est facilisis. Fusce congue vestibulum nunc
          quis suscipit. Suspendisse ut velit quis tellus ullamcorper laoreet
          quis id sem. Aenean in dolor ex. Etiam tincidunt est pretium massa
          efficitur egestas.
        </p>
      </div>

      <div class="flex flex-col gap-4 mt-8">
        <h2 class="text-2xl font-bold">Disclosure of Personal Information</h2>

        <p>
          Sed eget purus eget neque rutrum fringilla. Nulla facilisi. Curabitur
          vitae turpis at risus pretium tincidunt. Donec posuere urna at erat
          iaculis, a facilisis enim facilisis. Maecenas tempor, metus ac
          porttitor blandit, sapien metus aliquet est, a tincidunt lectus mauris
          a enim. Maecenas id lectus id est laoreet viverra. Aliquam
          sollicitudin ultrices metus, ut molestie justo volutpat nec. Sed nunc
          magna, semper vitae dignissim at, interdum a lectus. Integer imperdiet
          turpis consectetur, ultrices purus at, consequat urna. Aliquam erat
          volutpat. Nullam imperdiet aliquet nisl, in consectetur augue euismod
          a. Pellentesque est dolor, tempor vitae hendrerit vel, aliquam nec
          magna. Aliquam tempus massa at est egestas, non luctus magna
          pellentesque. Suspendisse quis fringilla eros. Etiam ut dictum diam.
        </p>

        <p>
          Suspendisse eu libero non massa accumsan blandit sit amet in lectus.
          Vivamus euismod in augue vitae lacinia. Pellentesque habitant morbi
          tristique senectus et netus et malesuada fames ac turpis egestas.
          Donec non posuere quam. Nullam tincidunt hendrerit rhoncus. Sed
          maximus eget turpis et egestas. Mauris efficitur lacinia velit, quis
          placerat est hendrerit et. Integer sed lectus dui. Maecenas a
          scelerisque nisi. Mauris consequat quam maximus nisi rutrum eleifend.
          Vestibulum vitae nunc lorem. Cras eu nibh id dolor tincidunt dapibus.
        </p>
      </div>

      <div class="flex flex-col gap-4 my-8">
        <h2 class="text-2xl font-bold">
          Liability and Disclaimer of Warranties
        </h2>

        <p>
          Sed eget purus eget neque rutrum fringilla. Nulla facilisi. Curabitur
          vitae turpis at risus pretium tincidunt. Donec posuere urna at erat
          iaculis, a facilisis enim facilisis. Maecenas tempor, metus ac
          porttitor blandit, sapien metus aliquet est, a tincidunt lectus mauris
          a enim. Maecenas id lectus id est laoreet viverra. Aliquam
          sollicitudin ultrices metus, ut molestie justo volutpat nec. Sed nunc
          magna, semper vitae dignissim at, interdum a lectus. Integer imperdiet
          turpis consectetur, ultrices purus at, consequat urna. Aliquam erat
          volutpat. Nullam imperdiet aliquet nisl, in consectetur augue euismod
          a. Pellentesque est dolor, tempor vitae hendrerit vel, aliquam nec
          magna. Aliquam tempus massa at est egestas, non luctus magna
          pellentesque. Suspendisse quis fringilla eros. Etiam ut dictum diam.
        </p>

        <p>
          Suspendisse eu libero non massa accumsan blandit sit amet in lectus.
          Vivamus euismod in augue vitae lacinia. Pellentesque habitant morbi
          tristique senectus et netus et malesuada fames ac turpis egestas.
          Donec non posuere quam. Nullam tincidunt hendrerit rhoncus. Sed
          maximus eget turpis et egestas. Mauris efficitur lacinia velit, quis
          placerat est hendrerit et. Integer sed lectus dui. Maecenas a
          scelerisque nisi. Mauris consequat quam maximus nisi rutrum eleifend.
          Vestibulum vitae nunc lorem. Cras eu nibh id dolor tincidunt dapibus.
        </p>
      </div>
    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
  </body>
</html>
