<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />
  </head>
  <body>
    <main
      class="p-4 mx-auto max-w-6xl w-full min-h-screen sm:flex sm:items-center sm:justify-center"
    >
      <form
        class="w-full sm:max-w-[460px] p-4 sm:border-2 rounded-xl flex flex-col gap-8"
        th:action="@{/register}"
        method="post"
        th:object="${user}"
      >
        <h1 class="font-bold text-3xl pb-4 border-b-2">Register</h1>

        <!-- Email -->
        <div class="flex flex-col gap-2">
          <label for="email" class="font-semibold">Email Address</label>
          <input
            class="rounded border-2 h-10 p-2 border-gray-300"
            type="text"
            id="email"
            name="email"
            placeholder="email"
            autocomplete="email"
            th:value="${user.email}"
            required
            th:classappend="${#fields.hasErrors('email')} ? 'border-red-500'"
          />

          <div
            class="text-red-500 text-sm"
            th:if="${#fields.hasErrors('email')}"
          >
            <p th:errors="*{email}"></p>
          </div>
        </div>

        <!-- Username -->
        <div class="flex flex-col gap-2">
          <label for="username" class="font-semibold">Username</label>
          <input
            class="rounded border-2 h-10 p-2 border-gray-300"
            type="text"
            id="username"
            name="username"
            placeholder="username"
            autocomplete="username"
            required
            th:value="${user.username}"
            th:classappend="${#fields.hasErrors('username')} ? 'border-red-500'"
          />

          <div
            class="text-red-500 text-sm"
            th:if="${#fields.hasErrors('username')}"
          >
            <p th:errors="*{username}"></p>
          </div>
        </div>

        <!-- Password -->
        <div class="flex flex-col gap-2">
          <label for="password" class="font-semibold">Password</label>
          <input
            type="password"
            id="password"
            autocomplete="new-password"
            class="rounded border-2 h-10 p-2 border-gray-300"
            name="password"
            placeholder="********"
            required
          />
        </div>

        <!-- Password again -->
        <div class="flex flex-col gap-2">
          <label for="confirmPassword" class="font-semibold">
            Confirm Password
          </label>
          <input
            type="password"
            id="confirmPassword"
            autocomplete="new-password"
            class="rounded border-2 h-10 p-2 border-gray-300"
            name="confirmPassword"
            placeholder="********"
            required
          />
        </div>

        <div>
          <button
            class="block w-full p-2 bg-blue-100 rounded hover:bg-blue-200 transition-colors"
            type="submit"
          >
            Register
          </button>
        </div>

        <div class="flex justify-center text-sm font-gray-500">
          <p>
            <span>Already a member?</span>
            <a class="underline cursor-pointer" href="/login">Login here</a>
          </p>
        </div>
      </form>
    </main>

    <footer th:replace="fragments/footer.html :: footer"></footer>

    <script>
      // Remove error messages and reset red border when user interacts with input fields
      document.querySelectorAll("input").forEach((input) => {
        input.addEventListener("input", () => {
          // Remove red border when the user starts typing
          input.classList.remove("border-red-500");

          // Clear error message if there is one
          const errorDiv = input.parentElement.querySelector(".text-red-500");
          if (errorDiv) {
            errorDiv.style.display = "none";
          }
        });
      });

      // Check if the password and confirm password fields match
      const password = document.getElementById("password");
      const confirmPassword = document.getElementById("confirmPassword");

      confirmPassword.addEventListener("input", () => {
        if (password.value !== confirmPassword.value) {
          confirmPassword.setCustomValidity("Passwords do not match");
          confirmPassword.classList.add("border-red-500");

          // Add an error message if there isn't one
          const errorDiv =
            confirmPassword.parentElement.querySelector(".text-red-500");
          if (errorDiv) {
            errorDiv.style.display = "block";
          } else {
            const errorDiv = document.createElement("div");
            errorDiv.classList.add("text-red-500", "text-sm");
            errorDiv.textContent = "Passwords do not match";
            confirmPassword.parentElement.appendChild(errorDiv);
          }
        } else {
          confirmPassword.setCustomValidity("");
          confirmPassword.classList.remove("border-red-500");
        }
      });
    </script>
  </body>
</html>
