<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />
  </head>
  <body>
    <nav th:replace="fragments/nav.html :: nav"></nav>

    <main
      class="p-4 mx-auto max-w-6xl w-full min-h-[calc(100vh-56px)] sm:flex sm:items-center sm:justify-center"
    >
      <form
        class="w-full max-w-xl p-4 sm:border-2 rounded-xl flex flex-col gap-8"
        action="/register"
        method="post"
      >
        <h1 class="font-bold text-3xl pb-4 border-b-2">Register</h1>

        <input
          type="hidden"
          th:name="${_csrf.parameterName}"
          th:value="${_csrf.token}"
        />

        <div class="flex flex-col gap-2">
          <label for="email" class="text-lg font-semibold">Email Address</label>
          <input
            class="rounded border-2 h-10 p-2 border-gray-300"
            type="text"
            id="email"
            name="email"
            placeholder="email"
            autocomplete="email"
            required
          />
        </div>

        <div class="flex flex-col gap-2">
          <label for="username" class="text-lg font-semibold">Username</label>
          <input
            class="rounded border-2 h-10 p-2 border-gray-300"
            type="text"
            id="username"
            name="username"
            placeholder="username"
            autocomplete="username"
            required
          />
        </div>

        <div class="flex flex-col gap-2">
          <label for="password" class="text-lg font-semibold">Password</label>
          <input
            type="password"
            id="password"
            autocomplete="new-password"
            class="rounded border-2 h-10 p-2 border-gray-300"
            name="password"
            placeholder="********"
            required
          />
        </div>

        <div class="flex flex-col gap-2">
          <label for="confirmPassword" class="text-lg font-semibold">
            Confirm Password
          </label>
          <input
            type="password"
            id="confirmPassword"
            autocomplete="new-password"
            class="rounded border-2 h-10 p-2 border-gray-300"
            name="confirmPassword"
            placeholder="********"
            required
          />
        </div>

        <div>
          <button
            class="block w-full p-2 bg-blue-100 rounded hover:bg-blue-200 transition-colors"
            type="submit"
          >
            Register
          </button>
        </div>

        <div class="flex justify-center text-sm font-gray-500">
          <p>
            <span>Already a member?</span>
            <a class="underline cursor-pointer" href="/login">Login here</a>
          </p>
        </div>
      </form>
    </main>

    <footer th:replace="fragments/footer.html :: footer"></footer>

    <script>
      // Check if the password and confirm password fields match
      const password = document.getElementById("password");
      const confirmPassword = document.getElementById("confirmPassword");

      confirmPassword.addEventListener("input", () => {
        if (password.value !== confirmPassword.value) {
          confirmPassword.setCustomValidity("Passwords do not match");
        } else {
          confirmPassword.setCustomValidity("");
        }
      });
    </script>
  </body>
</html>
